<%= image_tag "/images/product-placeholder.jpg", size: "150" %>
<h3><%= product.name %></h3>
<p><%= product.description %></p>
<div>
  <p><%= "Only $#{product.price}!" %></p>
  <button class="product-btn" >Add to cart</button>
</div>
